# Node modules for all JavaScript/Node.js projects
node_modules/
npm-debug.log*
yarn-error.log*
*.log

# Dependency directories
# .env files
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# FastAPI specific files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pylib
*.sqlite3
*.db
instance/

# Python packaging
*.egg
*.egg-info/
dist/
build/
*.whl
*.manifest
*.lock

# React specific files
build/
coverage/

# React Native specific files
# Packager files
.packager/
.react-native/
.expo/

# Metro Bundler
*.packager

# Android specific files
android/.gradle/
android/app/build/
android/.idea/
android/local.properties
android/.settings/
android/app/release/
android/release/

# iOS specific files
ios/Pods/
ios/build/
ios/DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcodeproj/*

# Express.js specific files
# Directory for temporary files
temp/
tmp/

# Build output
dist/
build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# Editor directories and files
.idea/
*.sublime-project
*.sublime-workspace
.vscode/
*.code-workspace

# Optional: Ignoring coverage reports
coverage/
*.lcov
